body {
    font-family: 'Roboto';
    padding-bottom: 180px;
    position: relative;
    z-index: 1;
    min-width: 320px;
    min-height: 100vh;
}

#wrapper {
    width: 100%;
}

/*------DRY------*/

/*margin, padding*/
body,
header,
.gps__texte,
h1,
h2,
h3,
p {
    margin: 0;
}

.fa-solid {
    margin-right: 10px;
}

.fa-utensils {
    margin-right: 15px;
}

/*font-size*/
h2, button{font-size: 18px;}

a {
    text-decoration: none;
    text-transform: none;
    color: inherit;
}

a:visited {
    color: initial;
}
/*CSS*/
#logo {
    text-align: center;
    padding: 20px 0px;
    margin-bottom: 230px;
    box-shadow: 0px 5px 10px 0px #AAAAAA;
    & img {
        width: 200px;
    }
}

.fa-arrow-left{
    position:absolute;
    left: 20px;
    top: 23px;
    font-size: 30px;
}
.background{
    position: absolute;
    top: 80px;
    width: 100%;
    height: 280px;
    z-index: -1;
}
.background img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

main{
    background-color: #F6F6F6;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.titre_principal{
    padding-top: 20px;
    font-weight: 400;
    font-size: 16px;
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    font-family: 'Shrikhand';
}

.h1_icone {
    padding-top: 10px;
    transform: scaleY(1.4);
    position: relative;
    font-size: 28px;
    font-weight: 100;
    color: #353535;

    .fa-regular {
        position: absolute;
        top: 6px;
        right: 0px;
    }

    .fa-solid {
        position: absolute;
        top: 6px;
        right: -10px;
        color: rgba(255, 255, 255, 0);
    }

    .fa-solid:hover {
        display: inline;
        color: #9356DC;
    }
}

@keyframes section {
    0% {
        transform: translateY(100%);
        opacity: 0.1;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


.conteneur_menu{
    width: 85%;
    margin: 10px auto;
    padding: 15px;
    box-shadow: 0px 0px 8px 0px #d6d6d6;
    background-color: white;
    border-radius: 15px;
    animation: 1s ease 0s 1 section;
}
.ease_menu1{
    animation-delay: 50ms;
}
.ease_menu2{
    animation-delay: 100ms;
}
.ease_menu3{
    animation-delay: 150ms;
}

h2{
    margin-top: 40px;
    margin-left: 5%;
    font-weight: 200;
}
h2::after{
    content: "";
    display: block;
    border-bottom: 5px solid #99E2D0;
    width: 50px;
}

.description_menu{
    display: flex;
    justify-content: space-between;
}

.prix{
    text-align: right;
    font-weight: bold;}

.bouton{
    text-align: center;
}

button {
    border-radius: 50px;
    background: linear-gradient(#FF79DA, #9356DC);
    border: none;
    color: white;
    padding: 17px 30px;
    margin: 50px 0px;
}

footer {
    background: #353535;
    color: white;
    padding: 10px 0px 0px 0px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    & img {
        margin: 10px 0px 0px 25px;
        height: 25px;
        filter: brightness(0) saturate(100%) invert(100%) sepia(97%) saturate(2%) hue-rotate(162deg) brightness(109%) contrast(100%);
    }
    ul {
        list-style-type: none;
        padding: 0;
        margin-left: 25px;
        li{
            margin: 5px 0px;
        }
    }
}