body{
    font-family: 'Roboto', sans-serif;
    padding-bottom: 170px;
    position: relative;
    min-width: 320px;
    min-height: 100vh;
}

#wrapper{
    width: 100%;
}

/*------DRY------*/

/*margin, padding*/
body,
header,
.gps__texte,
h1,
h2,
h3,
p{
    margin: 0;
}

.carte{
    margin: 20px 10px;
}

.gps{
    padding: 20px 0px;
}

.reservez, .fonctionnement, .restaurants{
    padding: 50px 0px;
}


h2 {
    font-weight: 900;
    margin-left: 25px;
    font-size: 28px;
}
.fa-solid{
    margin-right: 10px;
}
.fa-utensils{
    margin-right: 15px;
}
/*font-size*/
h1 {
    font-size: 30px;
    font-weight: 900;
}
h3 {
    font-weight: 900;
    font-size: 22px;
    margin-bottom: 4px;
    & + p{
        font-size: 20px;
    }
}
button{
    font-size: 18px;
    font-weight: 500;
}
.fonction_li{
    font-size: 18px;
    font-weight:600;
}

.gps__texte{
    font-size: 19px;
    font-weight: 600;}

a {
    text-decoration: none;
    text-transform: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    text-transform: none;}
/*alignement*/

.gps, #logo, .reservez{
    text-align: center;
}
/*CSS*/

.loader{
    opacity: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
    animation: 3s 1 load;
    display: flex;
    justify-content: center;
    align-items: center;
    &__logo{
        font-size: 90px;
        position: absolute;
        color: transparent;
        vertical-align: top;
        background: linear-gradient(to top,#FF79DA 50%, #9356DC 50%);
        background-size: 100% 300%;
        background-position: bottom left;
        background-clip: text;
        z-index: 1;
        animation: 3s 1 loadlogo;
    }
}

@keyframes load {
    0% {
        z-index: 1;
        background: #99E2D0;
        opacity: 1;
    }
    
    70% {
        z-index: 1;
        background-color: #99E2D0;
        opacity: 1;
    }

    80% {
        z-index: 1;
        background-color: #99E2D0;
        opacity: 0.1;
    }

    100% {
        opacity: 0;
    }
}
@keyframes loadlogo {
    0% {
        background-position: top left;
        font-size: 90px;
        opacity: 1;
    }
    70% {
        font-size: 90px;
        opacity: 1;
    }
    80%{
        font-size: 150px;
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
#logo{
    text-align: center;
    padding: 20px 0px;
    box-shadow: 0px 5px 10px 0px #aaaaaa;
    & img{ width:200px;}
}

.gps{
    box-shadow: inset 0px 7px 10px -5px #AAAAAA;
    background: #EAEAEA;
    color: #383838;
    &__texte{
        display: inline-block;
    }
    &::before{
        font-family: "fontAwesome";
        content: "\f3c5";
        margin-right: 10px;
    }
}

.reservez{
    background: #F6F6F6;
}
.intro{
    height: 100%;
    &__texte{
        padding: 30px 20px;
        font-weight: 300;
        font-size: 22px;
    }
    & button{
        cursor:pointer;
        border-radius: 50px;
        background: linear-gradient(#FF79DA,#9356DC);
        border: none;
        color: white;
        padding: 20px 25px;
        margin: 10px;
        &:hover {
            background: linear-gradient(#fa8cdb,#9467ca);
        }
    }
}
.fonctionnement{
    ol{
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        padding: 0;
        .liste{
            cursor: pointer;
            font-size: 18px;
            position: relative;
            font-weight: bold;
            line-height: 70px;
            background: #F6F6F6;
            box-shadow: 0px 0px 10px 0px #aaaaaa;
            width: 88%;
            min-width: 320px;
            height: 70px;
            margin: 10px 0px 10px 20px;
            border-radius: 20px;
            counter-increment: number;
            margin-bottom: 5px;
            &:hover{
                transition: 0.6s;
                background: #F5EDFF;
                .fa-mobile-screen-button, .fa-list,
                    .fa-store{
                    transition: 0.6s;                
                    color: #9356DC;
                }
            }
            &:not(:hover){
                transition: 0.6s;
                .fa-mobile-screen-button,
                    .fa-list,
                    .fa-store {
                        transition: 0.6s;
                    }
            }  
            
        }
            

        .liste::before{            
            position: absolute;
            margin-top: 20px;
            height: 20px;
            left: -15px;
            line-height: 20px;
            content: counter(number);
            font-weight: normal;
            background: #9356DC;
            border-radius: 100%;
            color: white;
            text-align: center;
            padding: 5px 10px;
        }
    }
}

.fa-mobile-screen-button, .fa-list, .fa-store{
    font-size: 20px;
    vertical-align:baseline;
    transform: scaleY(1.1);
    margin-left: 30px;
    margin-right: 15px;
    color: #646464;
}

.fa-list{
transform:scaleX(0.9);
}

.restaurants{
    background: #f6f6f6;
}
.conteneur__carte{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.carte{
    box-shadow: 0px 0px 10px 0px #aaaaaa;
    position: relative;
    border-radius: 25px;
    width: 90%;
    height: 300px;
    &:hover{
        cursor:pointer;
        transition: 0.6s;
        opacity: 0.8;
        box-shadow: 0px 0px 20px 0px #aaaaaa;
    }
    &:not(:hover){
        transition: 0.4s;
    }    
    &__img{
        height: 210px;
        & img{
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
            object-fit: cover;
            width: 100%;
            height: 210px;
        }
    }
    &__contenu{
        background:white;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        display: flex;
        justify-content: space-between;
        height: 90px;
        
    }
    &__texte{
        margin: auto 0px auto 25px;
        width: 75%;
    }    
    .nouveau {
        width: 90px;
        position: absolute;
        top: 20px;
        right: 20px;
        background: #99E2D0;
        border-radius: 3px;
        color: #008766;
        font-weight: bold;
        font-size: 15px;
        text-align: center;
        padding: 7px 0px;
    }
}

.carte_icone{
    margin: auto 20px auto 0px;
    transform: scaleY(1.2);
    position: relative;
    font-size: 28px;
    font-weight: 100;
    cursor: pointer;
}

.checked {
    position: absolute;
    bottom: -10px;
    right: -10px;
    background: linear-gradient(#9356DC, #FF79DA);
    background-clip: text;
    color: transparent;
}

.unchecked {
    position: absolute;
    bottom: -10px;
    right: 0px;
    background: rgb(53, 53, 53);
    background-clip: text;
    color: transparent;
}

input {
    position: absolute;
    bottom: -10px;
    right: 0px;
    display: none;
}

input:checked~.checked {
    position: absolute;
    bottom: -10px;
    right: 0px;
    display: none;
}

input:checked~.unchecked {
    position: absolute;
    bottom: -10px;
    right: 0px;
}
   



footer{
    background: #353535;
    color: white;
    padding: 10px 0px 0px 0px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    & img {
        margin: 10px 0px 0px 25px;
        height: 25px;
        filter: brightness(0) saturate(100%) invert(100%) sepia(97%) saturate(2%) hue-rotate(162deg) brightness(109%) contrast(100%);
    }
    
    ul {
        list-style-type: none;
        padding: 0;
        margin-left: 25px;    
        li {
            margin: 5px 0px;
        }
    }
}

@media only screen and (min-width: 768px) {
    h2{
        text-align: center;
        padding-bottom: 20px;
    }
    .reservez,
    .fonctionnement,
    .restaurants{
        padding: 30px 0px;
    }
    body {
        background-color: #FFFFFF;
    }
    
    header {
        background-color: #353535;
    
        & img {
            filter: brightness(0) saturate(100%) invert(100%) sepia(97%) saturate(2%) hue-rotate(162deg) brightness(109%) contrast(100%);
        }
    }
    
    .gps {
        background: #FFFFFF;
    }
    
    .reservez {
        border-top-right-radius: 200px;
        border-top-left-radius: 200px;
        background: #353535;
        width: 80%;
        margin: auto;
        color: white;
    }
    
    .fonctionnement {
        background: #EAEAEA;
        width: 80%;
        margin: auto;
    
        ol {
            background: #EAEAEA;
    
            .liste {
                width: 69%;
            }
        }
    }
    
    .restaurants {
        background: #EAEAEA;
        width: 80%;
        margin: auto;
    }
    .carte{
        width: 70%;
    }
}
@media only screen and (min-width: 992px) {
    .wrapper{
        max-width: 1440px;
    }
    .reservez {
        border-top-right-radius: 200px;
        border-top-left-radius: 200px;
    }
    .fonctionnement{

        ol{            
            flex-direction: row;
            .liste{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 200px;
                width: 33%;
                box-shadow: 0px 0px 0px 0px #aaaaaa;
                min-width: auto;
                border-radius: 0px;
                margin: auto;                
                &::before{
                    display: none;
                }
            }
        }
    }
    .fa-mobile-screen-button,
    .fa-list,
    .fa-store {
        font-size: 50px;
        vertical-align: baseline;
        margin: auto;
    }
    li{display: flex;
        }
}