body {
  font-family: "Roboto";
  padding-bottom: 180px;
  position: relative;
  z-index: 1;
  min-width: 320px;
  min-height: 100vh;
}

#wrapper {
  width: 100%;
}

/*------DRY------*/
/*margin, padding*/
body,
header,
.gps__texte,
h1,
h2,
h3,
p {
  margin: 0;
}

.fa-solid {
  margin-right: 10px;
}

.fa-utensils {
  margin-right: 15px;
}

/*font-size*/
h2, button {
  font-size: 18px;
}

a {
  text-decoration: none;
  text-transform: none;
  color: inherit;
}

a:visited {
  color: initial;
}

/*CSS*/
#logo {
  text-align: center;
  padding: 20px 0px;
  margin-bottom: 230px;
  box-shadow: 0px 5px 10px 0px #AAAAAA;
}
#logo img {
  width: 200px;
}

.fa-arrow-left {
  position: absolute;
  left: 20px;
  top: 23px;
  font-size: 30px;
}

.background {
  position: absolute;
  top: 80px;
  width: 100%;
  height: 280px;
  z-index: -1;
}

.background img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main {
  background-color: #F6F6F6;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.titre_principal {
  padding-top: 40px;
  font-weight: 400;
  font-size: 16px;
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  font-family: "Shrikhand";
}

.h1_icone {
  width: 28px;
  padding-top: 10px;
  transform: scaleY(1.2);
  position: relative;
  font-size: 28px;
  font-weight: 100;
  cursor: pointer;
}

.checked {
  position: absolute;
  top: 8px;
  right: -10px;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

.unchecked {
  position: absolute;
  top: 8px;
  right: 0px;
  background: rgb(53, 53, 53);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

input {
  position: absolute;
  top: 8px;
  right: 0px;
  display: none;
}

input:checked ~ .checked {
  position: absolute;
  top: 8px;
  right: 0px;
  display: none;
}

input:checked ~ .unchecked {
  position: absolute;
  top: 8px;
  right: 0px;
}

@-webkit-keyframes section {
  0% {
    transform: translateY(100%);
    opacity: 0.1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes section {
  0% {
    transform: translateY(100%);
    opacity: 0.1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.conteneur_menu {
  min-width: 85%;
  width: 85%;
  max-width: 85%;
  margin: 10px auto;
  padding: 15px;
  box-shadow: 0px 0px 8px 0px #d6d6d6;
  background-color: white;
  background-image: linear-gradient(to right, transparent 50%, #99E2D0 50%);
  background-size: 200%;
  background-position: 0%;
  border-radius: 15px;
  position: relative;
}
.conteneur_menu:hover {
  background-position: -90px;
  transition: 0.4s ease;
}
.conteneur_menu:hover::after {
  font-family: "Font Awesome 6 Free";
  content: "\f058";
  font-size: 30px;
  position: absolute;
  right: 32px;
  top: 20px;
  transition: ease;
  color: rgb(255, 255, 255);
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}
.conteneur_menu:hover .prix {
  transform: translateX(-90px);
  transition: width 0.4s ease, transform 0.4s ease;
  width: 200px;
}

@-webkit-keyframes spin {
  0% {
    color: rgba(92, 92, 7, 0);
    right: -3px;
  }
  20% {
    color: white;
  }
  100% {
    transform: rotate(360deg);
    color: white;
  }
}

@keyframes spin {
  0% {
    color: rgba(92, 92, 7, 0);
    right: -3px;
  }
  20% {
    color: white;
  }
  100% {
    transform: rotate(360deg);
    color: white;
  }
}
.ease_menu,
.ease_menu1,
.ease_menu2,
.ease_menu3 {
  transition: 0.4s;
  -webkit-animation: 1s ease 0s 1 section;
          animation: 1s ease 0s 1 section;
}

.ease_menu1 {
  -webkit-animation-delay: 50ms;
          animation-delay: 50ms;
}

.ease_menu2 {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}

.ease_menu3 {
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
}

h2 {
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 5%;
  font-weight: 300;
}

h2::after {
  content: "";
  display: block;
  border-bottom: 3px solid #99E2D0;
  padding-top: 4px;
  width: 45px;
}

.description_menu {
  display: flex;
  justify-content: space-between;
}
.description_menu p {
  display: inline;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.prix {
  width: 100px;
  text-align: right;
  font-weight: bold;
  transition: width 0.4s ease, transform 0.4s ease;
}

.bouton {
  text-align: center;
}

button {
  border-radius: 50px;
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  color: white;
  padding: 17px 30px;
  margin: 50px 0px;
}

footer {
  background: #353535;
  color: white;
  padding: 10px 0px 0px 0px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
footer img {
  margin: 10px 0px 0px 25px;
  height: 25px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(97%) saturate(2%) hue-rotate(162deg) brightness(109%) contrast(100%);
}
footer ul {
  list-style-type: none;
  padding: 0;
  margin-left: 25px;
}
footer ul li {
  margin: 5px 0px;
}

@media only screen and (min-width: 768px) {
  body {
    font-family: "Roboto";
    padding-bottom: 160px;
  }

  header {
    background-color: #353535;
  }
  header #logo {
    margin-bottom: 100px;
  }
  header #logo img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(97%) saturate(2%) hue-rotate(162deg) brightness(109%) contrast(100%);
  }
  header .fa-arrow-left {
    color: white;
  }

  main {
    height: 100%;
    width: 80%;
    margin: auto;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
  }

  .background {
    height: 90%;
  }

  .background img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}/*# sourceMappingURL=style2.css.map */