body{
    font-family: 'Roboto';
    padding-bottom: 150px;
    position: relative;
    min-width: 320px;
    min-height: 100vh;
}

#wrapper{
    width: 100%;
}

/*------DRY------*/

/*margin, padding*/
body,
header,
.gps__texte,
h1,
h2,
h3,
p{
    margin: 0;
}

.carte{
    margin: 20px 10px;
}

section, .gps, .intro{
    padding: 20px 0px;
}

h2 {
    margin-left: 25px;
    font-size: 28px;
}
.fa-solid{
    margin-right: 10px;
}
.fa-utensils{
    margin-right: 15px;
}
/*font-size*/
h1 {
    font-size: 30px;
    font-weight: bolder;
}
h3 {
    font-size: 22px;
    & + p{
        font-size: 20px;
    }
}
button, .fonction_li{
    font-size: 20px;
    font-weight:600;
}

.gps__texte{
    font-size: 18px;
    font-weight: 600;}

/*alignement*/

#logo, .reservez{
    text-align: center;
}
/*CSS*/
#logo{
    padding-top: 20px;
    & img{ width:270px;}
}

.gps{
    box-shadow: inset 0px 7px 10px -5px #AAAAAA;
    background: #EAEAEA;
    color: #383838;
    &__texte{
        display: inline-block;
    }
    &::before{
        font-family: "fontAwesome";
        content: "\f3c5";
    }
}

.intro{
    background: #F6F6F6;
    height: 100%;
    &__texte{
        padding: 30px 20px;
        font-weight: lighter;
        font-size: 24px;
    }
    & button{
        border-radius: 50px;
        background: linear-gradient(#FF79DA,#9356DC);
        border: none;
        color: white;
        padding: 30px 25px;
    }
}
.fonctionnement{
    ol{
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        padding: 0;
        .liste{
            font-weight: bold;
            line-height: 70px;
            background: #F6F6F6;
            box-shadow: 0px 0px 10px 0px #aaaaaa;
            width: 90%;
            height: 70px;
            margin: 10px 0px;
            border-radius: 20px;
            counter-increment: item;
            margin-bottom: 5px;}

        .liste::before{
            content: counter(item);
            font-weight: normal;
            background: #9356DC;
            border-radius: 100%;
            color: white;
            text-align: center;
            padding: 5px 10px;
        }
    }
}

.fa-mobile-screen-button, .fa-list, .fa-store{
    font-size: 20px;
    vertical-align:baseline;
    transform: scaleY(1.1);
    margin: 0px 15px;
}

.fa-mobile-screen-button, .fa-list{
    color: #646464;
}
.fa-store{
    color: #9356DC;
}
.fa-list{
transform:scaleX(0.9);
}

.restaurants{
    background: #f6f6f6;
    padding-bottom: 20px;
}
.conteneur__carte{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.carte{
    border-radius: 25px;
    width: 90%;
    height: 300px;
    &__img{
        height: 210px;
        & img{
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
            object-fit: cover;
            width: 100%;
            height: 210px;
        }
    }
    &__contenu{
        background:white;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        display: flex;
        justify-content: space-between;
        height: 90px;
        
    }
    &__texte{
        margin: auto 0px auto 15px;
        width: 75%;
    }
    &__icone{
        margin: auto;
        transform:scaleY(1.4);
    }
    &__icone::after{
        font-family: "fontAwesome";
        content: "\f08a";
        font-size: 28px;
        font-weight: 100;
        color: #353535;
    }
}

footer{
    background: #353535;
    color: white;
    padding: 10px 0px 0px 0px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    & img {
        margin: 10px 0px 0px 25px;
        height: 25px;
        filter: brightness(0) saturate(100%) invert(100%) sepia(97%) saturate(2%) hue-rotate(162deg) brightness(109%) contrast(100%);
    }
    
    ul {
        list-style-type: none;
        padding: 0;
        margin-left: 25px;    
        li {
            margin: 5px 0px;
        }
    }
}