body{
    font-family: 'Roboto';
    padding-bottom: 150px;
    position: relative;
    min-width: 320px;
    min-height: 100vh;
}

#wrapper{
    width: 100%;
}

/*------DRY------*/

/*margin, padding*/
body,
header,
.gps__texte,
h1,
h2,
h3,
p{
    margin: 0;
}

.carte{
    margin: 20px 10px;
}

section, .gps, .intro{
    padding: 20px 0px;
}

h2 {
    margin-left: 25px;
    font-size: 25px;
}
.fa-solid{
    margin-right: 10px;
}
.fa-utensils{
    margin-right: 15px;
}
/*font-size*/
h1 {
    font-size: 30px;
    font-weight: bolder;
}
h3 {
    font-size: 22px;
    & + p{
        font-size: 20px;
    }
}
button, .fonction_li{
    font-size: 18px;
    font-weight:600;
}

.gps__texte{
    font-size: 18px;
    font-weight: 600;}

a {
    text-decoration: none;
    text-transform: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    text-transform: none;}
/*alignement*/

#logo, .reservez{
    text-align: center;
}
/*CSS*/
#logo{
    padding-top: 20px;
    & img{ width:200px;}
}

.gps{
    box-shadow: inset 0px 7px 10px -5px #AAAAAA;
    background: #EAEAEA;
    color: #383838;
    &__texte{
        display: inline-block;
    }
    &::before{
        font-family: "fontAwesome";
        content: "\f3c5";
    }
}

.intro{
    background: #F6F6F6;
    height: 100%;
    &__texte{
        padding: 30px 20px;
        font-weight: lighter;
        font-size: 22px;
    }
    & button{
        border-radius: 50px;
        background: linear-gradient(#FF79DA,#9356DC);
        border: none;
        color: white;
        padding: 20px 25px;
        margin-top: 10px;
        margin-bottom: 40px;
    }
}
.fonctionnement{
    ol{
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        padding: 0;
        .liste{
            position: relative;
            font-weight: bold;
            line-height: 70px;
            background: #F6F6F6;
            box-shadow: 0px 0px 10px 0px #aaaaaa;
            width: 88%;
            min-width: 320px;
            height: 70px;
            margin: 10px 0px 10px 20px;
            border-radius: 20px;
            counter-increment: number;
            margin-bottom: 5px;}

        .liste::before{            
            position: absolute;
            margin-top: 20px;
            height: 20px;
            left: -15px;
            line-height: 20px;
            content: counter(number);
            font-weight: normal;
            background: #9356DC;
            border-radius: 100%;
            color: white;
            text-align: center;
            padding: 5px 10px;
        }
    }
}

.fa-mobile-screen-button, .fa-list, .fa-store{
    font-size: 20px;
    vertical-align:baseline;
    transform: scaleY(1.1);
    margin-left: 30px;
    margin-right: 15px;
}

.fa-mobile-screen-button, .fa-list{
    color: #646464;
}
.fa-store{
    color: #9356DC;
}
.fa-list{
transform:scaleX(0.9);
}

.restaurants{
    background: #f6f6f6;
    padding-bottom: 20px;
}
.conteneur__carte{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.nouveau{
    position: absolute;
    width: 90px;
}
.carte{
    position: relative;
    border-radius: 25px;
    width: 90%;
    height: 300px;
    &__img{
        height: 210px;
        & img{
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
            object-fit: cover;
            width: 100%;
            height: 210px;
        }
    }
    &__contenu{
        background:white;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        display: flex;
        justify-content: space-between;
        height: 90px;
        
    }
    &__texte{
        margin: auto 0px auto 25px;
        width: 75%;
    }
    &__icone{
        margin: auto 0px auto 0px;
        transform:scaleY(1.4);
        position: relative;
        font-size: 28px;
        font-weight: 100;
        color: #353535;
        .fa-regular{
            position: absolute;
            top: -18px;
            right: 25px;
        }
        .fa-solid{
            position: absolute;
            top: -18px;
            right: 15px;
            color: rgba(255, 255, 255, 0);
        }
        .fa-solid:hover{
            display:inline;
            color:#9356DC;
        }
    }
   
    .nouveau {
        position: absolute;
        top: 20px;
        right: 20px;
        background: #d2d2d2;
        border-radius: 3px;
        color: #7d7d7d;
        font-weight: bold;
        font-size: 15px;
        text-align: center;
        padding: 7px 0px;
    }
}

footer{
    background: #353535;
    color: white;
    padding: 10px 0px 0px 0px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    & img {
        margin: 10px 0px 0px 25px;
        height: 25px;
        filter: brightness(0) saturate(100%) invert(100%) sepia(97%) saturate(2%) hue-rotate(162deg) brightness(109%) contrast(100%);
    }
    
    ul {
        list-style-type: none;
        padding: 0;
        margin-left: 25px;    
        li {
            margin: 5px 0px;
        }
    }
}